  <li>{{question.author}} asks: {{question.content}}
      {{#if isNoteShowing}}
        <p>{{question.note}} <button {{action 'noteHide'}}>hide note</button></p>
      {{else}}
        <button {{action 'noteShow'}}>show note</button>
      {{/if}}

      {{update-question question=question update="update"}}

      <button {{action 'delete' question}}>delete question</button>
  </li>


<!-- parent=index -->
<!-- children = update-question -->
